fastapi
fastapi-sqlalchemy
psycopg2-binary
pydantic[dotenv]
uvicorn
alembic
SQLAlchemy
gunicorn
dash
dash-html-components
dash-core-components
dash-table
pandas
auth-lib-profcomff[fastapi]
logging-profcomff
